#greetings {
    font-family: serif;
    padding: 1em;
    text-align: center;
    font-weight: normal;

}

#info {
    padding: 5em;
    min-height: 200px;
    background-color: black;
    font-size: 32px;
    text-align: justify;
    margin-bottom: 1em;
}

#sellers {
    min-height: 50em;
}

#sellers h3 {
    text-decoration: 'Prata', 'Times New Roman';
    font-size: 32px;
    text-align: left;
    letter-spacing: 1.5px;
}

#sellers-list {
    background-color: #000;
    min-height: 400px;
    padding: 2em;
}