* {
    padding: 0;
    margin: 0;
}

body {
    background-color: white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

#top-bar {
    min-height: 100px;
    background-color: rgba(0, 114, 63, 1);
    text-align: center;
}

#hello-user{
    padding: 20px;
    font: black;

}

#title-header a {
    text-decoration: none;
    color: white;
    line-height: 100px;
    font-size: 46px;
}

#register {
    color: white;
    font-size: 20px;
    background-color: goldenrod;
    text-align: center;
    padding: 10px;
}

#register-section {
    color: black;
    font-size: 28px;
    text-align: center;
    padding: 40px;
}

#vendedores {
    color: black;
    padding: 30px;
}

#vendedores-title {
    font-size: 32px;
}

.vendedores-ul{
    font-size: 28px;
    background-color: rgba(80, 184, 72, 1);
}

.productos-ul{
    font-size: 24px;
    background-color: rgb(131, 216, 125);
}

.botones {
    color: black;
    font-size: 24px;
    padding: 10px;
    background-color: goldenrod;
}

#error-message{
    color: darkred;
    padding: 15px;
}