{% extends "base.html" %}
{% from "form_macros.html" import render_field %}

{% block title %} Autenticacion {% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='index.css')}}">
{% endblock %}

{% block body %}

<section id="error-messages">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>
                <div id="error-message">
                    {{message}}
                </div>
            </li>
            {% endfor %}
        </ul>
        <br>
        {% endif %}
    {% endwith %}
</section>
<section id = "register-section">
    <form action="{{ url_for('auth') }}", method="POST">
        {{ auth_form.csrf_token }}
        <br><br>
        {{ render_field(auth_form.seller_name) }}
        <br><br>
        {{ render_field(auth_form.seller_pass) }}
        <br><br>
        <ul class="form-messages">
            {% for error in auth_form.seller_pass.errors %}
            <li class="form-message">
                {{ error }}
            </li>
            {% endfor %}
        </ul>
        {{ render_field(auth_form.confirm) }}
        <br><br>
        <button type="submit" class ="botones">Registrarme</button>
    </form>
</section>

{% endblock %}
