{% extends "base.html" %}
{% from "form_macros.html" import render_field %}

{% block title %} Autenticacion {% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='auth.css')}}">
{% endblock %}

{% block body %}

<section id="error-messages">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>
                    {{message}}
            </li>
            <br>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
</section>
<section>
    <div class="separator"></div>
    <form id="auth-form" action="{{ url_for('auth') }}", method="POST">
        <h3>INGRESAR</h3>
        <ul class="form-messages">
            {% for error in auth_form.seller_pass.errors %}
            <li class="form-message">
                {{ error }}
            </li>
            {% endfor %}
        </ul>
        {{ auth_form.csrf_token }}
        {{ render_field(auth_form.seller_name) }}
        {{ render_field(auth_form.seller_pass) }}
        {{ render_field(auth_form.confirm) }}
        <br>
        <br>
        <button type="submit">Enviar</button>
    </form>
</section>

{% endblock %}
