{% extends "base.html" %}

{% block title %} Inicio {% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='index.css')}}">
{% endblock %}


{% block body %}

{% if 'username' in session %}
<p class="">Hello, {{ session['username'] }}</p>
<section>
    <div id = "register">
        <a href="{{url_for('logout')}}">Cerrar sesión</a>
    </div>
</section>
{% else %}
<br>
<section>
    <div id = "register">
        <a href="{{ url_for('auth')}}">Autenticarse</a>
    </div>
</section>
{% endif %}

<section id = "vendedores">
    <h3 id="vendedores-title">Vendedores del Jacuzzi:</h3>
    
</section>


{% endblock %}