{% extends "base.html" %}
{% from "form_macros.html" import render_field %}

{% block title %} Registro {% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='index.css')}}">
{% endblock %}

{% block body %}
<section id = "top-bar">
    <header id="title-header">
        <a href="{{ url_for('index')}}">Cimajacuzzi</a>
    </header>
</section>
<form action="{{ url_for('register') }}", method="POST">
    {{ reg_form.csrf_token }}
    {{ render_field(reg_form.username) }}
    {{ render_field(reg_form.password) }}
    {{ render_field(reg_form.confirm) }}
    <button type="submit">Registrarme</button>
</form>
{% endblock %}
